header{
  background-color: #c4fb6d;
  height: 95px;
  
}
.hero {
    float: right;
    position: absolute;
    margin-left: 793px;
    margin-top: -20px;
}
div{
    display: block;
}

body{
    margin: 0;
    padding: 0;
  }

  .hero ul li{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    margin: 10px;
  }

  .imo{
    margin-left: 92px;
    margin-top: 22px;
    position: absolute; 
  }

  .hero a{
    text-decoration: none;
    color: black;
  }

  .hero a:hover{
    color: white;
  }

  .sahi{
    position: relative;

  }

  .sahi img{
    width: 100%;
    height: 480px;
  }

.htext{
  margin-left: 402px;
  margin-top: -243px;
  position: absolute;
  font-size: 60px;
  color: white;
  font-family: Montserrat;
  text-shadow: 2px 2px 5px #dfedf3;
}
.ohmygod{
  width: 23%;
  float: left;
  text-align: center;
  background-color: #8abc3a;
  margin: 11px;
}

.ohmygod img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 58px;
}
/* 
.ohmygod img:hover{
  display: block;
  width: 100%;
  height: 58px;
  transition: .3s ease;
  background-color: white;
} */

.line{
  border-top: 4px solid white;
}

.prag{
  padding: 40px;
}

.hd{
  font-family: Montserrat;
}

.mm{
 font-family: Montserrat;
}

.sso{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 50px; 
  /* float: left;   */
}

.herrr{
  text-align: center;
}

.hro{
  padding-top: 540px;
  font-family: Montserrat;
}
.photos1{
  margin: 30px;
  padding: 30px;
  float: left; 
  
}

.photos2{
  margin: 354px;
  margin-top: 354px;
padding: 29px;
float: left;
margin-top: -445px;
  
}

.photos3{
  margin: 666px;
  margin-top: 666px;
padding: 30px;
float: left;
margin-top: -768px;
  
}

.photos4{
  margin: 1036px;
  margin-top: 1036px;
padding: 30px;
float: left;
margin-top: -1081px;
  
}

.pic{
  width: 100%;
  border-radius: 3%;
  height: 174px;
  width: 262px;
}

.xu{
  width: 22%;
  /* float: left; */
  margin: 11px;  
}

.ohvaisab{
  background-color: #c4fb6d;
  margin-top: 486px;
}

.ready{
position: absolute;
text-align: center;
background-color: #c4fb6d;
height: 995px;
width: 100%;
}

.ready1{
  font-family: Montserrat;
}

.leom{
  font-family: Montserrat;
}

.imp{
  height: 237px;
  width: 357px;
  border-radius: 10px;
}

.img1{
  position: absolute;
  margin: 20px;
  padding: 30px;
  margin-top: 176px;
}
.img2{
  position: absolute;
margin: 499px;
  margin-top: 499px;
margin-top: 499px;
padding: 30px;
margin-top: 177px;
}

.img3{
  position: absolute;
  margin: 962px;
    margin-top: 962px;
  margin-top: 962px;
  margin-top: 499px;
  padding: 30px;
  margin-top: 175px;
}


.img4{
  position: absolute;
margin: 19px;
  margin-top: 19px;
margin-top: 19px;
margin-top: 962px;
margin-top: 499px;
padding: 30px;
margin-top: 577px;
}

.img5{
  position: absolute;
  margin: 506px;
    margin-top: 506px;
  margin-top: 19px;
  margin-top: 19px;
  margin-top: 962px;
  margin-top: 499px;
  padding: 30px;
  margin-top: 577px;
}

.img6{
  position: absolute;
  margin: 970px;
    margin-top: 506px;
  margin-top: 19px;
  margin-top: 19px;
  margin-top: 962px;
  margin-top: 499px;
  padding: 30px;
  margin-top: 577px;
}

.comp{
  height:200px;
  width:100%;
}
.or{
  text-align: center;
  margin: 100px;
  padding: 17px;
  margin-top: 211px;
  padding-top: 850px;
}

.ocm{
  font-family: Montserrat;
font-weight: 900;  
}

.ocmp{
  font-size: 17px;
font-family: Montserrat;
}
.cimg{
  margin-left: 713px;
  margin-top: -112px;
  padding: 20px;
  float: right;
  position: absolute;
}
.ars{
  position: absolute;
margin: 32px;
padding: 92px;
margin-top: -160px;
}
.ssa{
  line-height: 1.5;
font-family: Montserrat;
font-size: 15px; 
}
.arrow-point{
  float: left;
height: 20px;
padding-top: 19px;
}
.points{
  padding-left: 30px;
  font-family: Montserrat;
  padding-top: 10px;
  
}
.btn {
  background: #158a11;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 9px;
font-family: Arial;
color: #ffffff;
font-size: 17px;
padding: 20px 20px 10px 20px;
text-decoration: none;
padding-top: 13px;
margin-top: 20px;
margin-left: 43px;
}

.btn:hover {
  background: #0d70b1;
 
}

.map{
margin-top: 1290px;

}

footer{
  background-color: black;
  padding-top: 20px;
padding-bottom: 20px;
height: 350px;
width: 100%;
}

.fotter-text{
  font-family: Montserrat;
color: #c4fb6d;
text-shadow: 0 0 0.8em #c4fb6d, 0 0 0.6em #bac964;
}

.test-t{
  width: 23%;
float: left;
margin: 11px;
}

.leona{
  max-width: 1140px;
margin: 0 auto;
padding: 0 50px;
}

.foo1{
  color: white;
  list-style: none;
padding: 0;
line-height: 1.5;
}
.list-of{
  display: inline-block;
}

.disco{
  line-height: 0px;
}