header{
  background-color: #c4fb6d;
  height: 95px;
  
}
.hero {
    float: right;
    position: absolute;
    margin-left: 793px;
    margin-top: -20px;
}
div{
    display: block;
}

body{
    margin: 0;
    padding: 0;
  }

  .hero ul li{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    margin: 10px;
  }

  .imo{
    margin-left: 92px;
    margin-top: 22px;
    position: absolute; 
  }

  .hero a{
    text-decoration: none;
    color: black;
  }

  .hero a:hover{
    color: white;
  }

  .sahi{
    position: relative;

  }

  .sahi img{
    width: 100%;
    height: 480px;
  }

.htext{
  margin-left: 402px;
  margin-top: -243px;
  position: absolute;
  font-size: 60px;
  color: white;
  font-family: 'Bitter', serif;
  text-shadow: 2px 2px 5px #dfedf3;
}
.ohmygod{
  width: 23%;
  float: left;
  text-align: center;
  background-color: #8abc3a;
  margin: 11px;
}

.ohmygod img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 58px;
}

.ohmygod img:hover{
  display: block;
  width: 100%;
  height: 58px;
  transition: .3s ease;
  background-color: white;
}